<!doctype html>
<html>
    <head>
        <title>Home</title>
         <style>
        .error { color: red; }
    </style>
    </head>
<body>
{% block content %}
<h1>Sign Up</h1>
<form action="/index" method="POST">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td><input name="username" type="username">
            <span class="error">{{username_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input name="password" type="password">
            <span class="error">{{password_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <span class="error">{{verify_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="email">Email (optional)</label></td>
            <td>
                <input name="email" type="text">
                <span class="error">{{email_error}}</span>
            </td>
        </tr>
    </table>

    <input type="submit" value="Make It Official">
    </form>
{% endblock %}
</body>
</html>